<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sucesso</title>
    <link rel="stylesheet" th:href="@{/css/sucesso.css}">
</head>
<body>

<div class="container">
    <div class="card">
        <div class="icon">🏠</div>
        <h1>Imóvel cadastrado com sucesso!</h1>
        <p>O imóvel foi salvo no sistema da imobiliária.</p>

        <div class="buttons">
            <a href="/imoveis/novo" class="btn-primary">Cadastrar outro</a>
            <a th:href="@{/imoveis}">Ver imóveis</a>        </div>
    </div>
</div>

</body>
</html>